<!DOCTYPE html>
{% load staticfiles %}

<head>
  <title>Palito</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Story3.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="texttemp colorbg">



<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
	</div>
	
<center>
	<div class="box">
		<p style="font-size:2vw">Be a part of my journey!</p>
		<form>
			Name:<br>
			<input type="text" name="Name" style="width:50%" required>
			<br>
			Date of birth:<br>
			<input type="date" name="Date" style="width:50%" required>
			<br>
			Email address<br>
			<input type="text" name="email" style="width:50%" required>
			<br>
			Username<br>
			<input type="text" name="username" style="width:50%" required>
			<br>
			Password<br>
			<input type="password" name="password" style="width:50%" required>
			<br>
			Confirm password<br>
			<input type="password" name="passwordcon" style="width:50%" required>
			<br>
			<input type="checkbox" name="req" required>
			Click here to indicate that you have read and agree to the terms presented in the Terms and Conditions agreement
			<br>
			<br>
			<input type="submit" value="Register">
		</form>

	</div>
</center>
</div>
{% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</body>
</html>