<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<title>About Palito</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
	<body class="texttemp colorbg">
		<div class="pos-f-t" style="position:absolute">
		  <div class="collapse" id="navbarToggleExternalContent">
		    <div class="bg-dark p-4" style="background-color:#CBF888">
				<a class="navbar-brand" href="#"><img src="https://image.ibb.co/n8Vm9z/p_logo.png" alt="p_logo" width="50"></a>
				<h4 class="text-white">Palito Jeremy Panggabean.</h4>
				<span class="text-muted">My profile website.</span>
				  <ul class="navbar-nav justify-content-end ml-auto w-100">
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'home' %}" style="color: white">HOME</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'about' %}" style="color: white">ABOUT ME</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'contact' %}" style="color: white">CONTACT</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'login' %}" style="color: white">REGISTER</a>
					</li>
			</div>
			</div>
		<nav class="navbar navbar-light bg-green navbarbg">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		</nav>
		</div>
	</ul>
</div>
</div>
</div>
</body>
</html>