<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <title>Palito</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Story3.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="texttemp colorbg">

	<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
	</div>
<div class="container-fluid" style="margin-top:10%; padding:9%;">
<div class="square"></div>
<center>
	<div>
	<p style="font-size: 4vw">WELCOME</p>
	<p style="font-size: 2vw">My name is Palito. I am making this page for one of my tasks as a student at my university. This website will be used for personal purposes and business purposes.</p>
	</div>
</center>
</div>
{% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</body>
</html>