<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>About Palito</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Story3.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body class="texttemp colorbg">

<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
	</div>
<div class="square" style="margin-top:10%; margin-left:23%;"></div>
<div class="container-fluid" style="margin-top:-5%">
	<center>
	<img src="https://preview.ibb.co/bB30Kz/1482347713613.jpg" alt="1482347713613" width="22%" style="border-radius: 40%; center;"></a>
	</center>
</div>
<div class="square" style="margin-top:-2%; margin-left:55%; position: absolute;"></div>
<div class="texttemp" style="margin-top:10px;padding-left:20%; padding-right:20%">
	<center>
	<p style="font-size:3vw">Hi, I'm Palito.</p>
	<p>I'm a computer science student at University of Indonesia and an aspiring UI developer. I have a lifetime goal that I have to make an impact to the world, and I plan to achieve that goal by studying computer science.</p>
	<p>I am currently 19 years old. I was born in Jakarta, 20<sup>th</sup> September 1999. By the time i was 8, my family and I moved to Medan. I studied many things there, and it was also there i found my ultimate hobby: music.</p>
	<p>In my high school, I began to develop my interest in the technology world. I began wondering how softwares and websites are made. That is the main reason I chose to study at the University of Indonesia.</p>
</div>
<center>
<a href="{% url 'contact' %}"><button class="button">Learn even more about me</div></button></a>	
	{% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</body>
</html>