<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<title>About Palito</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>
	<body class="texttemp colorbg">
		<div class="navbar-frame">
        {% block navbar %}
        {% include "navbar.html" %}
        {% endblock %}
	</div>
		<br><br>
		<center><h1>GET TO KNOW ME EVEN MORE</h1></center>
		<div style="margin-right: 10%;">
			<img src="{% static 'images/phonebox.png' %}" align="right" width="10%">
		</div>
		<div class="logomargin">
			<img class="logo" src="{% static 'images/gmail.png' %}" width="5%">
			palito@ui.ac.id
		</div>
		<div class="logomargin">
			<img class="logo" src="{% static 'images/line.png' %}" width="5%">
			palitojeremy
		</div>
		<div class="logomargin">
			<img class="logo" src="{% static 'images/instagram.png' %}" width="5%">
			<a href="https://www.instagram.com/palitojeremy/">@palitojeremy</a>
		</div>
		{% block footer %}
    {% include "footer.html" %}
    {% endblock %}
	</body>
</html>