.navbarbg {
	background-color: #CBF888;
}
.colorbg{
	background-color: #FFD953;
}
.texttemp{
	color: #47525E;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.8vw;
}
.square {
  height: 3%;
  width: 38%;
  background-color: #FFBA5C;
}
.button {
  background-color: #CBF888; /* Green */
  border: none;
  color: #47525E;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 4px 2px;
  cursor: pointer;
	border-radius: 12px;
}
.box{
	border-style: solid;
	border-color: #FFBA5C;
}
.button:hover{
	background-color:#FFBA5C;
  color: white; 
}

.logo{
  margin-left: 5%
}

.logomargin{
  margin: 3%
}