body {
	background-color: purple;
	background-image: linear-gradient(to bottom right, blue, purple);
}

.button{
	background-color: #455d7d;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vw;
	cursor: pointer;
}