.navbarbg {
	background-color: #CBF888;
}
.colorbg{
	background-color: #FFD953;
}
.texttemp{
	color: #47525E;
	font-family: 'Yanone Kaffeesatz';
	font-size: 2vw;
}
.square {
  height: 3%;
  width: 38%;
  background-color: #FFBA5C;
}
.button {
    background-color: #CBF888; /* Green */
    border: none;
    color: #47525E;
    padding-top: 2%;
	padding-bottom:2%;
	padding-left: 8%;
	padding-right: 8%;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}
.box{
	border-style: solid;
	border-color: #FFBA5C;
}
.button:hover{
	background-color:#FFBA5C;
}