<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<title>Hello!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Story6.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<center>
			<div class="w3-container w3-center w3-animate-opacity">
				<h1 style="font-size: 4vw; color:#fcfcfc;">Hello apa kabar?</h1>
			</div>
			<div class="w3-container w3-center w3-animate-opacity">
				<form id="form" method="POST" action="{% url 'add' %}">
				{% csrf_token %}
				{{ form }}
			</div>
				<div class="submit-button w3-container w3-center w3-animate-opacity">
					<input class="submit button" type="submit" name="submit" value="Post" id="submit">
				</div>
			</form>
		</center>
		<div class="w3-container w3-center w3-animate-opacity">
			<h4 style="color: white">This is what they say:</h4>
			<tbody>
				{% for a in result %}
				<tr>
					<p style="color:#fcfcfc;">	
					<td>{{ a.statusMessage }} ||</td>
					<td>{{ a.posted }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</div>
	</div>
	<a href="{% url 'profile' %}"><button class="button">Learn even more about me</button></a>
</body>
</html>