<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <title>Palito</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </head>
  <body id="body">
    <body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>

    <div id="myDiv" class="animate-bottom">
    <div class="container-fluid" style="margin-top:0%; padding:1%;">
      <div class="square"></div>
      <center>
      	<div>
        	<p style="font-size: 50px">WELCOME</p>
        	<p style="font-size: 25px">My name is Palito. I am making this page for one of my tasks as a student at my university. This website will be used for personal purposes and business purposes.</p>
      	</div>

        <button class="accordion">Activity</button>
          <div class="panel">
            <p>My favourite thing to do is playing and making music, for it is my passion. I also really like playing video games, preferably some adventure games. For physical activities, I really like playing basketball, street football, and table tennis, though I am not very good at it.</p>
          </div>

        <button class="accordion">Experience</button>
          <div class="panel">
            <ul style="text-align: left;">
              <li>Staff of Decoration and Costume, Compfest X (2018)</li>
              <li>Staff of Arts and Culture, BEM Fasilkom UI (2018)</li>
              <li>Head of Arts and Culture, BEM Fasilkom UI (January 2019 - present)</li>
              <li>Head of Documentation, Alfa Beta Social Project (2017)</li>
            </ul>
          </div>

        <button class="accordion">Achievements</button>
          <div class="panel">
            <ul style="text-align: left;">
              <li>Basketball Competition in Medan held by a private university (2nd)</li>
              <li>Band Competition in Medan held by a private high school (2nd)</li>
              <li>the 7th UI Art War, Vocal Group (1st)</li>
              <li>the 8th UI Art War, Vocal Group (2nd)</li>
            </ul>
          </div>
        <div class="row" style="margin-top: 5%">
          <div class="column">
            <button onmouseover="themeone()" onmouseout="revert()" onclick="themeoneclick()" class="button">Cold Steel</button>
          </div>
          <div class="column">
            <button onmouseover="themetwo()" onmouseout="revert()" onclick="themetwoclick()" class="button1">Summer Vacation</button>
          </div>
        </div>
      </center>
    </div>
  </div>
      <script type="text/javascript">
        var memory = 'linear-gradient(to bottom right, #bdc3c7, #2c3e50)';
        function themeone(){
          document.getElementById("body").style.backgroundImage = 'linear-gradient(to bottom right, #bdc3c7, #2c3e50)';
        }
        function themeoneclick(){
          document.getElementById("body").style.backgroundImage = 'linear-gradient(to bottom right, #bdc3c7, #2c3e50)';
          memory = 'linear-gradient(to bottom right, #bdc3c7, #2c3e50)';
        }
        function themetwo(){
          document.getElementById("body").style.backgroundImage = 'linear-gradient(to bottom right, #a8ff78, #78ffd6)';
        }
        function themetwoclick(){
          document.getElementById("body").style.backgroundImage = 'linear-gradient(to bottom right, #bdc3c7, #2c3e50)';
          memory = 'linear-gradient(to bottom right, #a8ff78, #78ffd6)';
        }
        function revert(){
          document.getElementById("body").style.backgroundImage = memory;
        }
        function myFunction() {
          myVar = setTimeout(showPage, 3000);
        }
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
      </script>
  </body>
</html>